{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block section_title %}
<h1>{{ brand.title }}</h1>
{% endblock %}

{% block breadcrums %}
<ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li>Materiales</li>
	<li class="active">{{ brand.title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<i class="fa fa-info"></i>
		<h3 class="box-title">Descripción</h3>
	</div>
	<div class="box-body">
		<p>{{ brand.description }}</p>
	</div>
</div>
{% for catName, resourcesCategory in resourcesCategories %}
<div class="box box-info">
	<div class="box-header">
		<h3 class="box-title">{{ catName }}</h3>
	</div>
	<div class="box-body">
		{% for resource in resourcesCategory.resources %}
   		{% if(resource.type == 'image') %}
		<img src="{{ resource.resource|imagine_filter('gecko_gallery') }}" alt="" style="max-height: 300px" />
   		{% elseif (resource.type == 'video') %}
   		<video width="320" height="240" controls>
  			<source src="{{ asset('media' ~ vich_uploader_asset(resource, 'file')) }}" type="video/mp4">
		</video>
    	{% endif %}
   		{% endfor %}
	</div>
</div>
{% endfor %}
{% endblock %}