{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block section_title %}
<h1>{{ brand.title }}</h1>
{% endblock %}

{% block breadcrums %}
<ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li>Marcas de Autos</li>
	<li class="active">{{ brand.title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<i class="fa fa-info"></i>
		<h3 class="box-title">Descripción</h3>
	</div>
	<div class="box-body">
		<p>{{ brand.description }}</p>
	</div>
</div>
{% for catName, resourcesCategory in resourcesCategories %}
<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title">{{ catName }}</h3>
	</div>
	<div class="box-body clearfix">
		{% for resource in resourcesCategory.resources %}
		<div class="box box-solid box-info" style="width: 340px; float: left; margin-right: 30px;">
			<div class="box-header">
				<h4 class="box-title">{{ resource.name }}</h4>				
			</div>
			<div class="box-body">
	   			{% if(resource.type == 'image') %}
				<img src="{{ resource.resource|imagine_filter('gecko_gallery') }}" alt="" style="max-width: 320px;display: block;margin: 0 auto;" />
	   			{% elseif (resource.type == 'video') %}
	   			<video width="320" controls>
	  				<source src="{{ asset('media' ~ vich_uploader_asset(resource, 'file')) }}" type="video/mp4">
				</video>
	    		{% endif %}
	    		<div>
	    			<a class="btn btn-app" style="margin: 0 auto; display: block;" href="{{ path('hyundai_kroma_branduser_download', {'filename': resource.resource}) }}" target="_blank"><i class="fa fa-save"></i> Descargar</a>
	    		</div>
    		</div>
    	</div>
   		{% endfor %}
	</div>
</div>
{% endfor %}
{% endblock %}