{% macro list(posts) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if posts|length > 0 %}
<table id="users" class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'gecko.backend.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('title', 'gecko.backend.title'|trans) }}</th>
            <th>{{ sylius_resource_sort('date', 'gecko.backend.date'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr id="{{ post.id }}">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.date|date('d-m-Y') }}</td>
            <td>
                <div class="pull-right">
                    {{ buttons.edit(path('hyundai_kroma_backend_post_update', {'id': post.id})) }}
                    {{ buttons.delete(path('hyundai_kroma_backend_post_delete', {'id': post.id})) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}