<div class="form-group">
	{{ form_row(form.brand, {'value': app.request.get('brand_id')}) }}
</div>
<div class="form-group">
	{{ form_row(form.category) }}
</div>
<div class="form-group">
	{{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.type) }}
</div>
<div class="form-group">
   	{% if((form.vars.value.resource) and (form.vars.value.type == 'image')) %}
    	<a href="{{ form.vars.value.resource|imagine_filter('gecko_gallery') }}" target="_blank"><img class="img-polaroid" src="{{ form.vars.value.resource|imagine_filter('gecko_image_90x60') }}" alt="" /></a>
   	{% endif %}
    {{ form_row(form.file) }}
</div>
{{ form_rest(form) }}
