{% macro list(brandresources) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if brandresources|length > 0 %}
<div class="box">
	<div class="box-body table-responsive no-padding">
		<table class="table table-hover"><tbody>
			<tr>
				<th>Nombre</th>
				<th>Categoria</th>
				<th>Archivos</th>
				<th></th>
			</tr>
			{% for brandresource in brandresources %}
	        <tr>
				<td>{{ brandresource.name }}</td>
				<td>{{ brandresource.category }}</td>
				<td><a href="{{ path('hyundai_kroma_brandresourcefile_index', {'brandresource_id': brandresource.id}) }}">Administrar archivos ({{ brandresource.files|length }})</a></td>
				<td>
					<div class="pull-right">
	                    {{ buttons.edit(path('hyundai_kroma_brandresource_update', {'brand_id': brandresource.brand.id, 'id': brandresource.id})) }}
	                    {{ buttons.delete(path('hyundai_kroma_brandresource_delete', {'brand_id': brandresource.brand.id, 'id': brandresource.id})) }}
	                </div>
				</td>
			</tr>
	        {% endfor %}
		</tbody></table>
	</div>
</div>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}