{{ form_errors(form) }}
<div class="row">
    <div class="col-md-6">
		{{ form_row(form.title) }}
		<br>
        {{ form_row(form.date) }}
        <br>
		{{ form_row(form.description) }}
    </div>
</div>
{{ form_rest(form) }}
