{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'GeckoBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'HyundaiKromaBundle:Backend/Post:macros.html.twig' import list  %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'gecko.backend.breadcrumb.post.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('hyundai_kroma_backend_post_create'), 'gecko.backend.create'|trans) }}
    </div>
    <h1><i class="icon-facetime-video"></i> {{ 'gecko.backend.post.index_header'|trans|raw }}</h1>
</div>

{#% render(url('sylius_backend_user_filter_form', {'criteria': app.request.query.get('criteria')})) %#}

{{ list(posts)  }}
{{ pagination(posts) }}

{% endblock %}
